<% unless self.controller.instance_variable_defined? :@include_js_http_methods -%>
    <%= javascript_include_tag 'jquery', '/bcms/polling/bcms-polling', 'jquery.cookie' %>
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>
    <% self.controller.instance_variable_set(:@include_js_http_methods, true) -%>
<% end -%>


<div id='vote-<%= @content_block.id %>' class="bcms_poll">
  <span class="question"><%= @content_block.question %></span>

  <ul class="vote-choices">
    <% for response in PollResponse.find(:all, :conditions => {:poll_id => @content_block.id}) %>
        <li>
          <span class="response"><%= response.answer %></span>
          <%= link_to "Vote!", poll_response_url(response), :class => "vote-this", 'data-poll-id'=>@content_block.id %>
        </li>
    <% end %>
  </ul>
  <span class="show-results"><%= link_to "See the results", "#", 'data-poll-id'=>@content_block.id, :class => "show-results" %></span>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var cookie = '<%= cookie_for(@content_block) %>';
        if($.cookie(cookie)){
            showResults(<%= @content_block.id %>, false);
        }
    });
</script>
